
    body
    {
    color: black;
    background-color: 00FFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    }
    
    h1  
    {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    }
    h2
    {
        
    }
    p  
    {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    }
    
    a {color: rgb(56, 37, 37); text-decoration: none}
    a:visited {color: darkred; text-decoration: none}
    a:active {color: #666666; text-decoration: none}
    a:hover {color: gray; text-decoration: underline}
    
    